<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/layout.html :: html_head" />

<body>

	<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a th:href="@{/}"><img th:src="@{images/logo.svg}" alt="logo"></a>
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form class="pt-3" th:object="${userForm}" th:action="@{'/register'}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" th:field="*{username}"  placeholder="Username">
                  <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" th:field="*{email}" placeholder="Email">
                  <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                  <div class="form-group">
                  <input type="text" class="form-control form-control-lg" th:field="*{firstMidName}" placeholder="First Name">
                  <div class="text-danger" th:if="${#fields.hasErrors('firstMidName')}" th:errors="*{firstMidName}"></div>
                </div>
                  <div class="form-group">
                  <input type="text" class="form-control form-control-lg" th:field="*{lastName}" placeholder="Last Name">
                  <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
               
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" th:field="*{password}" placeholder="Password">
                  <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                
                 <div class="form-group">
                  <input type="password" class="form-control form-control-lg" th:field="*{passwordConfirm}" placeholder="Confirm Password">
                  <div class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
                </div>
                
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">SIGN UP</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a th:href="@{/login}" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->


	<div th:replace="fragments/layout.html :: footer" />

</body>

</html>