<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" />

	<div class="container-fluid page-body-wrapper">

		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">

					<div class="col-md-12 grid-margin">
						<div class="row">
							<div class="col-12 col-xl-8 mb-4 mb-xl-0">
								<h3 class="font-weight-bold">View Student Performance</h3>
							</div>
						</div>
					</div>

					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="display expandable-table" id="studentTable" style="width:100%">
										<thead>
											<tr>
												<th>StudentID</th>
												<th>Email</th>
												<th>Enabled</th>
												<th>LastName</th>
												<th>FirstMidName</th>
												<th>Username</th>
												<th>Role</th>
												<th>Performance</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${users}">
												<td th:text="${user.Id}">StudentID</td>
												<td th:text="${user.email}">Email</td>
												<td th:text="${user.enabled} ? 'Yes' : 'No'">Enabled</td>
												<td th:text="${user.lastName}">LastName</th>
												<td th:text="${user.firstMidName}">FirstMidName</td>
												<td th:text="${user.username}">Username</td>
												<td th:text="${user.UserRole.name}">Role</td>
												<td>
													<a class="btn btn-info"
														th:href="@{/lecturer/student-performance/{id}(id=${user.Id})}">View Performance</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div th:replace="fragments/layout.html :: footer" />

	<script>
		$(document).ready(function () {
			$('#studentTable').DataTable({
				"paging": true,
				"pageLength": 5,
				"filter": true,
				"ordering": false,
				"lengthMenu": [
					[5, 10, 25, 50, -1],
					[5, 10, 25, 50, 'All'],
				],
			});
		});
	</script>

</body>

</html>